<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; Back to dashboard</a>
    <h2 class="title">Make a new post.</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title:</label>
            <input class="input" type="text" id="post-title" placeholder="Insert post title here."/>
        </div>
        <div>
            <label for="post-current">Content:</label>
            <input class="textarea is-large" id="post-content" name="post-content" placeholder="Insert post content here."/>
        </div>
        <button type="submit" class="buttin is-primary is-pulled-right">Make post</button>
    </form> 
</section>

<script src="/public/js/add-post.js"></script>